<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :instructor %><br>
    <%= f.text_area :instructor %>
  </div>
  <div class="field">
    <%= f.label :credits %><br>
    <%= f.number_field :credits %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :requirements %><br>
    <%= f.text_area :requirements %>
  </div>
  <div class="field">
    <%= f.label :term %><br>
    <%= f.text_area :term %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
