<%= render "layouts/navbar" %>

<div id="main" class="container">
  <div class="row">

    <style>
      canvas{
        width: 90% !important;
        max-width: 410px;
        height: 90% !important;
        max-height: 390px;
      }
    </style>
    
    <div class="row course-info">
      <div class="col-sm-7">
        <h1 class="course-title" style="font-size:24pt"">
            <span class="yellow" style="font-size:30pt"><%= @course.code %></span>: <%= @course.title %>
        </h1>
        <h4 style="line-height: 130%;">
          <%= @course.instructor %> &nbsp;
          <div class="classinfo">
            <%= @course.credits %> credits &nbsp;
            <% unless @course.reviews.average(:rating).nil? %>
                <% @course.reviews.average(:rating).round.times do %>
                    <i class="fa fa-star"></i>
                <% end %>
                <% (5-@course.reviews.average(:rating)).round.times do %>
                    <i class="fa fa-star-o"></i>
                <% end %>
            <% else %>
                <% 5.times do %>
                    <i class="fa fa-star-o"></i>
                <% end %>
            <% end %>
            &nbsp;
            Grade: <span class="yellow">
                <% unless @course.reviews.pluck(:grade).nil? %>
                    <%= @course.reviews.pluck(:grade).sort[@course.reviews.length/2] %>
                <% end %>
            </span>
          </div>
        </h4>
        <p class="course-description">
          <%= @course.description %>
        </p>
        <h5>
          <div style="margin-bottom:5px">
            <strong>Reqs:</strong>
              <%= @course.requirements %>
          </div>
          <strong>Terms:</strong>
            <span class="light-col">Fall</span><%# TODO: make this automatic %>
            <span class="light-col">Winter</span>
            <span class="light-col">Spring</span>
            <span class="light-col">Summer</span>
        </h5>
      </div>
      <div class="col-sm-5">
        <%= column_chart @course.reviews.group(:grade).count, colors: ["EAAA00"] %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-7">
        <div id="recent_reviews">
          <h3 class="recent-reviews-header">Most recent student reviews</h3>
          <%= render @course.reviews %>
        </div>
      </div>
    </div>
  </div>
      <p> New review </p>
      <%= render 'reviews/form' %>
</div>
