<%- title "#{@course.code}: #{@course.title} - Course Reviews - Claremontreview" %>
<%= render "layouts/navbar", search: true %>

<div id="main" class="container">
  <div class="row">
    <style>
      canvas{
        width: 90% !important;
        max-width: 410px;
        height: 90% !important;
        max-height: 390px;
      }
    </style>

    <div class="row course-info">
      <div class="col-sm-7">
        <h1 class="course-title" style="font-size:24pt">
          <span class="claremont" style="font-size:30pt"><%= @course.code %></span>: <%= @course.title %>
        </h1>
        <h4 style="line-height: 130%;">
          <%= @course.instructor %> &nbsp;
          <div class="classinfo">
            <%= @course.credits %> credits &nbsp;
            <% unless @course.avg_rating.nil? %>
              <% for i in 0..4 %>
                <% if @course.avg_rating-i>=1 %>
                  <i class="fa fa-star fa-change" id='fa'></i>
                <% elsif @course.avg_rating-i>=0.5 %>
                  <i class="fa fa-star-half fa-change" id='fa'></i>
                <% else %>
                  <i class="fa fa-star-o fa-change" id='fa'></i>
                <% end %>
              <% end %>
            <% else %>
              <% 5.times do %>
                <i class="fa fa-star-o fa-change" id='fa'></i>
              <% end %>
            <% end %>
            &nbsp;
            Grade: <span class="claremont">
              <% unless @course.reviews.pluck(:grade).nil? && @course.reviews.pluck(:grade) == 0 %>
                <%= real_average(gradeHash(@course)) %>
              <% end %>
            </span>
          </div>
        </h4>
        <p class="course-description">
          <%= @course.description %>
        </p>
        <h5>
          <strong>Terms:</strong>
          <% if !@course.term.nil? %>
            <% if @course.term.include? "fall" %>
              <span class="dark-col">Fall</span>
            <% else %>
              <span class="light-col">Fall</span>
            <% end %>
            <% if @course.term.include? "spring" %>
              <span class="dark-col">Spring</span>
            <% else %>
              <span class="light-col">Spring</span>
            <% end %>
          <% else %>
            <span class="light-col">Fall</span>
            <span class="light-col">Spring</span>
          <% end %>
        </h5>
        <span id="gradeDistribution" style="visibility:hidden"><%= gradeDist(gradeHash(@course)) %></span>
      </div>
      <div class="col-sm-5">
        <canvas style="margin-top:20px;" id="gradeChart" width="280" height="300"></canvas>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-7">
        <div id="recent_reviews">
          <h3 class="recent-reviews-header">Most recent student reviews</h3>
          <%= render @reviews %>
        </div>
        <div id="most_helpful_review">
          <%= render @reviews.reorder("cached_votes_score DESC") %>
        </div>
      </div>
      <div class="col-sm-5">
        <h3>Submit a review</h3>
        <% if user_signed_in? %>
          <% if @course.reviews.count < 1 %>
            <a href="javascript:toggle('reviews_form')">Be the first to review this course</a>
          <% else %>
            <a href="javascript:toggle('reviews_form')">Review this course</a>
          <% end %>
        <% else %>
          <% if @course.reviews.count < 1 %>
            <%= link_to "Be the first to review this course", user_omniauth_authorize_path(:google_oauth2) %>
          <% else %>
            <%= link_to "Submit a review", user_omniauth_authorize_path(:google_oauth2) %>
          <% end %>
        <% end %>
        <div id="reviews_form" style="display:none">
          <%= render 'reviews/form' %>
          <br>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>
