<%= form_for( (@review == nil ? [@course, @course.reviews.build] : [@course, @review]) ) do |f| %>

  <div class="form-group">
    <p>
      <%= f.label :rating %> <br>
      <div id="r">
        <input class="form-control" id="form_review_rating" type="hidden" name="review[rating]" value='1' />
      </div>
      <script>
        $('#r').raty({
            starType: 'i',
            hints: ['','','','',''],
            score: <%= @review.nil? ? 1 : @review.rating %>,
            scoreName: 'review[rating]'
        });
        starsOff = document.getElementsByClassName('star-off-png');
        for (var i=0; i<starsOff.length; i++) {
            var curr_element = starsOff[i];
            curr_element.style.color="<%= schoolColor(@course.code[-2,2]) %>";
        }
        starsOn = document.getElementsByClassName('star-on-png');
        for (var i=0; i<starsOn.length; i++) {
            var curr_element = starsOn[i];
            curr_element.style.color="<%= schoolColor(@course.code[-2,2]) %>";
        }
      </script>
    </p>

    <p>
      <%= f.label :grade %> <br>
      <%= f.collection_select :grade, Review::GRADES, :to_s, :to_s, { required: true }, { class: 'form-control dropdown', id: 'form_review_grade' } %>
    </p>

    <p>
      <%= f.label :info %> <br>
      <%= f.collection_select :semester, ['Fall','Spring','Summer'], :to_s, :to_s, { required: true }, { class: 'form-control', id: 'form_review_semester' } %>
      <%= f.collection_select :year, ['2016','2015','2014','2013','2012','2011','2010','< 2010'], :to_s, :to_s, { required: true }, { class: 'form-control', id: 'form_review_year' } %>
      <%= f.text_field :other, placeholder: "Professor: Charles Xavier", required: true, class: 'form-control', id: 'form_review_info', autocomplete: 'off', value: 'Professor: ' %>
    </p>

    <p>
      <%= f.label :review_text %> <br>
      <%= f.text_area :review_text, placeholder: 'Write review here...', required: true, class: 'form-control', id: 'form_review_text' %>
    </p>

    <br>
    <p>
      <%= f.submit 'Submit', class: 'btn btn-default btn-primary' %> |
      <% if @review == nil %>
        <a href="javascript:toggle('reviews_form')", class="btn btn-default btn-danger">Cancel</a>
      <% else %>
        <%= link_to 'Cancel', course_path(@course), class: 'btn btn-default btn-danger'%>
      <% end %>
    </p>
  </div>
<% end %>

<style>
  #form_review_info {
    margin-top: 7px;
  }
</style>

<script>
    $('#form_review_info').keydown(function() {
        var oldvalue=$(this).val();
        var field=this;
        setTimeout(function () {
            if(field.value.indexOf('Professor: ') !== 0) {
                $(field).val(oldvalue);
            }
        }, 1);
    })
</script>
