<div class="review">
  <div class="review-rating-grade">
    <% review.rating.times do %>
      <i class="fa fa-star school-color" id='fa'></i>
    <% end %>
    <% (5-review.rating).times do %>
      <i class="fa fa-star-o school-color" id='fa'></i>
    <% end %>
    &nbsp;
    <%= review.grade %>
  </div>

  <div class="voting pull-right">
    <%= link_to like_course_review_path(review.course, review), method: :put, class: "upvote", remote: true do %>
      <% if user_signed_in? && (current_user.voted_up_on? review) %>
      <i class="fa fa-thumbs-up fa-lg" title='Helpful'></i>
      <% else %>
      <i class="fa fa-thumbs-o-up fa-lg" title='Helpful'></i>
      <% end %>
    <% end %>
    <span><%= review.cached_votes_up %></span> |
    <%= link_to dislike_course_review_path(review.course, review), method: :put, class: "downvote", remote:true do %>
      <% if user_signed_in? && (current_user.voted_down_on? review) %>
      <i class="fa fa-thumbs-down fa-lg" title='Unhelpful'></i>
      <% else %>
      <i class="fa fa-thumbs-o-down fa-lg" title='Unhelpful'></i>
      <% end %>
    <% end %>
    <span><%= review.cached_votes_down %></span>
  </div>

  <div class="review-date">Published <%= time_ago_in_words(review.created_at) %> ago <%= anon_student(review.user.email) %>
    <% if user_signed_in? && (current_user == review.user || current_user.try(:admin?) ) %>
    | <%= link_to "Edit", edit_course_review_path(@course, review), method: :get, remote: true %>
    | <%= link_to 'Delete', [review.course, review], method: :delete,
        data: { confirm: 'Are you sure you want to delete your review?|'+course_review_path(@course, review) }, class: 'deleteBtn'%>
    <% end %>
  </div>

  <p class="review-info"><%= review.info %></p>
  <p><%= nl2br(review.review_text).html_safe %></p>
  <div id="review_form_<%= review.id %>">
  </div>
</div>
