<div class="recent-review">
  <div class="review-rating-grade">
    <% review.rating.times do %>
      <i class="fa fa-star fa-change" id='fa'></i>
    <% end %>
    <% (5-review.rating).times do %>
      <i class="fa fa-star-o fa-change" id='fa'></i>
    <% end %>
    &nbsp;
    <%= review.grade %>
  </div>

  <% if user_signed_in? %>
    <div class="voting pull-right">
      <%= link_to like_course_review_path(review.course, review), method: :put do %>
        <i class="fa fa-thumbs-up fa-lg" title='like'></i>
      <% end %>
      <%= review.get_upvotes.size %> | 
      <%= link_to dislike_course_review_path(review.course, review), method: :put do %>
        <i class="fa fa-thumbs-down fa-lg" title='dislike'></i>
      <% end %>
      <%= review.get_downvotes.size %>
    </div>
  <% end %>

  <div class="review-date">Published <%= time_ago_in_words(review.created_at) %> ago <%= anon_student(review.user.email) %>
    <% if user_signed_in? && (current_user == review.user || current_user.try(:admin?) ) %>
    | <%= link_to "Edit", edit_course_review_path(@course, review), method: :get, remote: true %>
    | <%= button_to 'Delete', [review.course, review], method: :delete,
        data: { confirm: 'Are you sure you want to delete your review?' }, class: 'deleteBtn'%>
    <% end %>
  </div>

  <p class="review-info"><%= review.info %></p>
  <p class="helpful-review-text"><%= nl2br(review.review_text).html_safe %></p>
  <div id="review_form_<%= review.id %>">
  </div>
</div>
