<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "Claremontreview" %></title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <%= favicon_link_tag 'cr.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="content">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </div>

  <% if !current_page?(about_url) %>
    <div id="footer" class="navbar navbar-default navbar-bottom" >
      <div class="container">
        <div id="logo">
          <%= image_tag 'cr.ico' %> <br>
          <p> @MESCH </p>
        </div>
      <% if current_page?(root_url) %>
          <a class="pull-right" href="/about">Contact Us</a>
      <% end %>
      </div>
    </div>
  <% end %>
</body>
</html>
